

:root {

	--basic-color: #F2F2F2;
	--basic-white: #FFFFFF;
	--basic-black: #000000;
	--basic-thinblack: #333333;
	--basic-boldblack: #231F20;
	--basic-lightbrown: #766357;
	--basic-brown: #604E43;
	--basic-darkbrown: #503E33;
	--basic-gray: #EEEEEE;
	--basic-darkgray: #EBEBEB;
	--basic-lightgray: #A9A9A9;
	--basic-blue: #81B3D2;
	--basic-darkblue: #669EC0;
	--basic-darkenblue: #5496BD;
	--dark: #666666;
	--border: #E5E5E5;
	--special: #BDBBBC;
	--basic-opacity: rgba(0,0,0,0.3);
	--footer-back: rgba(255, 255, 255, 0.9);
	--opacity-white: rgba(255,255,255,0.3);
	--shadow: rgba(0, 1, 1, 0.2);
	--shadow-form: rgba(0, 1, 1, 0.15);
}


.page-body {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	background-color: var(--basic-color);
	text-align: center;
	font-weight: normal;
}

.main-block {
	width: 1200px;
	box-shadow: 0px 5px 15px var(--shadow);
	margin-left: auto;
    margin-right: auto;
    min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
}

.page a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.page {
	height: 100%;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Main navigation */

.main-nav {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: var(--basic-black);
}

.main-header-logo {
	width: 138px;
	height: 70px;
	position: absolute;
	align-self: center;
}

.site-navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	align-items: center;
	margin: 0;
	padding-left: 73px;
	padding-right: 73px; 
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: var(--basic-white);
}
 
.site-navigation li {
	flex-basis: 229px;
	text-align: right;
}

.site-navigation li:nth-child(2) {
	margin-right: auto;
}

.site-navigation li:nth-child(-n+2){
	text-align: left;
}

.site-navigation a:link {
	color: var(--basic-black);
} 

.site-navigation a:hover,
.site-navigation a:focus {
 	color: var(--basic-blue);
}

.site-navigation a:active {
	color: var(--basic-opacity);
}

.hotels-link {
	pointer-events: none;
	color: var(--basic-lightbrown);
}	


.intro {
	background-image: url("../img/shape.png"), url("../img/background_photo.jpg");
	background-repeat: no-repeat;
	background-position: bottom, 0 0;
	width: 1200px;
	height: 509px;
	display:flex;
  	align-items: center;
  	justify-content: center;
}



/* Features */

.features {
	background-color: var(--basic-white);
	padding-top: 42px;
}

.features-text {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin-top: 0; 
	margin-bottom: 50px;

}

.features-text-two {
	margin-bottom: 51px;
}


.features-main {
	list-style: none;  
	margin: 0;
 	padding: 0;
 	display: grid;
	grid-template-columns: 400px 400px 400px;
}

.features-item {
	color: var(--basic-white);
	text-align: center;
	background-color: var(--basic-blue);
	grid-column-start: 1;
	grid-column-end: 4;
	display: grid;
	grid-template-columns: 400px 400px 400px;
}
	

.features-item h2 {
	font-size: 21px;
	line-height: 21px;
	margin-top: 47px;
	margin-bottom: 25px;
}

.features-item p {
	margin-top: 23px;
}

.town-img {
	margin: 0;
 	padding: 0;
	grid-column-start: 2;
	grid-column-end: 4;
}

.town-img img,
.bridge-img img {
	display: block;
}


.bridge-img {
	margin: 0;
 	padding: 0;
	grid-column-start: 1;
	grid-column-end: 3;
	order: -1;
}


.highlights {
	position: relative;
  	background-color: var(--basic-white);
  	margin: 0;
 	padding: 0;
  	grid-column-start: 1;
	grid-column-end: 4;
  	display: grid;
  	grid-template-columns: 1fr 1fr 1fr;
}

.highlights-item h2 {
	color: var(--basic-black);
	margin-top: 160px;
	margin-bottom: 25px;
}


.features-item-text h2 {
	color: var(--basic-black);
	margin-top: 47px;
	margin-bottom: 25px;
}

.highlights-item p,
.features-item-text p {
	color: var(--basic-thinblack);
}

.highlights-item p {
	margin-bottom: 82px;
}

.highlights-house h2::before {
	content: "";
	position: absolute;
	top: 60px;
	left: 162px;
	width: 75px;
	height: 72px;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	
}

.highlights-food h2::before {
	content: "";
	position: absolute;
	top: 60px;
	left: 562px;
	width: 75px;
	height: 70px;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	
}

.highlights-present h2::before {
	content: "";
	position: absolute;
	top: 60px;
	right: 168px;
	width: 64px;
	height: 77px;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	
}

.features-item-text p {
	margin-bottom: 54px;
	margin-top: 23px;
}

.features-item-text {
	background-color: var(--basic-gray);
}


/* Hotel search */

.hotel-search {
	background-color: var(--basic-white);
}

.hotel-search h2 {
	font-size: 30px;
	line-height: 24px;
	margin: 0;
	padding-top: 58px; 
}

.hotel-search p {
	margin-top: 35px;
	margin-bottom: 45px; 
}


.search-hotel-button {
	display: block;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
  	text-align: center;
  	color: var(--basic-white);
  	text-transform: uppercase;
  	background-color: var(--basic-lightbrown);
  	border: none;
  	width: 568px;
  	margin: auto;
  	padding-top: 30px;
  	padding-bottom: 30px;
}

.search-hotel-button:hover,
.search-hotel-button:focus  {
  	background-color: var(--basic-brown);
}

.search-hotel-button:active {
	color: var(--opacity-white);
  	background-color: var(--basic-darkbrown);
}

/* Map */

.map {
	position: relative;
	margin-bottom: -120px;
}




/*Form Search*/

.form-search {
	position: absolute;
	top: 0px;
    left: 315px;
    width: 570px;
    background-color: var(--basic-white);
    box-shadow: 0 7px 15px 0 var(--shadow-form);
}

.modal-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-weight: 700;
	margin: 55px;
	padding: 0;
}

.modal-form .form-item {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 458px;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	margin-bottom: 30px;
}

.form-item input {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase; 
	border: none;
	outline: none;
	background-color: var(--basic-color);
	width: 320px;
	padding: 6px 13px 6px 13px;
}	


.modal-form .adults,
.modal-form .child {
	display: flex;
	flex-basis: 226px;
	justify-content: space-between;
}	

.adults input,
.child input {
	text-align: center;
	width: 88px;
}

.child label {
	margin-left: 47px;
}

.form-item .calendar {
	position: absolute;
	right: 8px;
	width: 21px;
	height: 23px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

.calendar:hover path,
.calendar:focus path {
 	fill: var(--basic-black);
}

.calendar:active path {
 	fill: var(--basic-blue);
}

.form-item .minus,
.form-item .plus  {
	position: absolute;
	width: 25px;
	height: 38px;
	top: 0;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

.form-item .minus,{
	left: 125px;
}

.form-item .plus {
	right: 0px;
}

.minus::before{
	content: "";
	position: absolute;
	top: 17px;
	width: 12px;
	height: 3px;
	background-color: var(--basic-lightgray);
}

.plus::before,
.plus::after {
	content: "";
	position: absolute;
	top: 17px;
	right: 15px;
	width: 12px;
	height: 3px;
	background-color: var(--basic-lightgray);
}

.plus::before {
	transform: rotate(90deg);
}

.minus:hover::before,
.minus:focus::before {
 	background-color: var(--basic-black);
}

.minus:active::before {
 	background-color: var(--basic-blue);
}

.plus:hover::before,
.plus:hover::after,
.plus:focus::before,
.plus:focus::after {
 	background-color: var(--basic-black);
}

.plus:active::before,
.plus:active::after {
 	background-color: var(--basic-blue);
}

.form-item input:hover {
	background-color: var(--basic-darkgray);
	outline: none;
}

.form-item input:focus {
	background-color: var(--basic-white);
	border: 2px solid var(--border);
}


.modal-form .button-search-form {
	display: block;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--basic-white);
	width: 100%;
	border: none;
	background-color: var(--basic-blue);
	margin-top: 24px;
	margin-right: 0;
	padding-top: 16px;
	padding-bottom: 16px;
}

.button-search-form:hover,
.button-search-form:focus {
 	background-color: var(--basic-darkblue);
 	outline: none;
}

.button-search-form:active {
	color: var(--opacity-white);
	background-color: var(--basic-darkenblue);
}




/*Sorting hotels*/

.hotels-list {
  	background-color: var(--basic-white);
}

.sorting-block {
	display: flex;
	padding-left: 73px;
  	padding-right: 73px;
  	padding-top: 29px;
  	padding-bottom: 31px;
}

.sorting-block span {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin-right: 46px;
}

.sorting-range {
	font-size: 12px;
	line-height: 18px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
	justify-content: flex-start;
	min-width: 370px;
}

.sorting-range li {
	margin-right: 30px;
}

.sort-type a {
	color: var(--basic-opacity);
	border-bottom: 1px dotted var(--basic-blue);
}

.sort-type a:hover,
.sort-type a:focus {
	color: var(--basic-blue);
}

.sort-type a:active {
	color: var(--basic-black);
	border-bottom: none;
}

.active a {
	color: var(--basic-blue);
	border-bottom: none;
}


.sorting-list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	margin-left: auto;
	width: 34px;
	justify-content: space-between;
	align-self: center;
}

.sorting-item:hover path,
.sorting-item:focus path {
    fill: var(--basic-black);
}

.sorting-item:active path {
    fill: var(--basic-blue);
}

.sort-down path {
	fill: var(--basic-blue);
}




/*Hotels result*/

.results {
	list-style: none;
	margin: 0;
	padding: 0;
}


.sorting-block,
.result-item {
	border-bottom: 1px solid var(--border);
}

.result-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 73px;
	padding-right: 73px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.result-item img {
	width: 135px;
	height: 90px;
}

.result-item-text {
	margin-left: 29px;
	text-align: left;
}

.result-item-text .item-list {
	display: flex;
	margin-top: 7px;
	margin-bottom: 15px;
}

.item-list span {
	flex-basis: 110px;
	margin-right: 7px; 
}


.result-item h2 {
	font-size: 21px;
	line-height: 26px;
	margin: 0;
	padding: 0;
    margin-top: -5px;
}

.name-hotel {
	color: var(--basic-black); 
}

.name-hotel:hover,
.name-hotel:focus {
 	color: var(--basic-blue);
 
}

.name-hotel:active {
	color: var(--basic-opacity);
}

.item-button {
	margin: 0;
}

.item-button .button {
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: var(--basic-white);
	text-transform: uppercase;
	display: inline-block;
	padding: 3px 17px 3px 16px;
}


.detail-button {
	background-color: var(--basic-blue);
	margin-right: 3px;
}

.detail-button:hover,
.detail-button:focus {
 	background-color: var(--basic-darkblue);
}

.detail-button:active {
	color: var(--opacity-white);
	background-color: var(--basic-darkenblue);
}

.reservation-button {
	background-color: var(--basic-lightbrown);
}

.reservation-button:hover, 
.reservation-button:focus {
	background-color: var(--basic-brown);
} 

.reservation-button:active {
	color: var(--opacity-white);
	background-color: var(--basic-darkbrown);
} 



.rating-number {
	position: relative;
	color: var(--dark);
	background-color: var(--basic-color);
	margin-left: auto;
    margin-top: 64px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 21px;
   	width: 110px;
   	align-self: flex-end;
}

.rating-number::before {
	content: "";
	position: absolute;
	top: -64px;
	right: 0;
	width: 110px;
	height: 17px;
	background-image: url("../img/star.svg");
	background-repeat: space;
}

.star-four::before {
	width: 90px;
}

.star-three::before {
	width: 65px;
}

.star-two::before {
	width: 41px;
}


/* Footer */

.main-footer {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: var(--footer-back);
}

.hotels-footer {
  	background-color: var(--basic-white);
}

.contacts {
	display: flex;
	flex-direction: column;
}

.contacts a,
.contacts p {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: var(--basic-black);
	align-self: center;
	margin: 0;
}

.contacts p {
	margin-top: 9px;
} 

.contacts-phone {
  	color: inherit;
}

.social {
	display: flex;
	justify-self: center;
	align-items: center;
}

.social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 150px;
}

.social-button {
	color: inherit;
	display: flex;
	justify-content: center;
	width: 46px;
	height: 48px;
	background-color: var(--basic-blue);
}

.social-button:hover,
.social-button:focus {
    background-color: var(--basic-darkblue);
}

.social-button:active {
    background-color: var(--basic-darkenblue);
}

.social-button:active img {
    opacity: 0.3;
}

.copyright { 
	display: flex;
	align-items: center;
	width: 400px;
	justify-content: center;
}

.copyright p {
	font-size: 14px;
	line-height: 26px;
	margin-right: 10px;
}

.copyright a {
    width: 115px;
    height: 41px;
}

.copyright:hover path,
.copyright:focus path {
    fill: var(--basic-blue);
}

.copyright:active path {
    fill: var(--special);
}

/*Filter hotels*/

.filter-hotels{
	background-image: url("../img/background.jpg");
	width: 1200px;
	min-height: 217px;
	background-repeat: no-repeat;
	background-size: cover;
}